body {
    background: #edebeb;
}

#title {
    width: 280px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}

#title div {
    height: 12px;
    width: 14px;
    position: absolute;
    float: left;
}

#game {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

#grid {
    width: 250px;
    height: 500px;
    background: white;
    border: 2px solid #dbd7d7;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.block {
    border: 1px solid white;
    background: gray;
    width: 23px;
    height: 23px;
    position: absolute;
    float: left;
    margin: 0px;
}

#buttons {
    float: right;
}

button {
    display: block;
    background: #edebeb;
    height: 30px;
    width: 90px;
    margin: 4px;
    border: 2px solid #dbd7d7;
    border-radius: 2px;
    color: #c6b5b7;
    font-size: 10pt;
    font-weight: bold;
    letter-spacing: 2px;
}

button:focus {
    outline: none;
}

.i { background: #d6cbcd; }

.j { background: #c6b5b7; }

.l { background: #b69fa0; }

.o { background: #a6898a; }

.s { background: #967374; }

.z { background: #865d5d; }

.t { background: #764747; }
